main {
  min-height: 80vh;
}
.navbar-nav {
  margin-left: 76%;
}
h1 {
  font-size: 1.4rem;
  padding: 0.1rem;
}
Link {
  text-decoration: none;
}
<<<<<<< HEAD
/* .fa-shopping-cart {
  margin-right:1rem;
} */

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: 0;
}
=======
.cart{
  margin-right:2rem;
}
>>>>>>> 70025e7d981d33e494c1366fb0722147fbf5eb70
